#canvas {
  /* border: 1px solid red; */
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  background: black;
}

body {
  font-family: sans-serif;
  padding: 5px;
  background-image: url("../img/bodyBackground.jpg");
  background-size: contain;
}

h1 {
  font-size: 50px;
}

.menu-item{
  padding: 5px;
  background-color: white;
  /* border: 1px solid red; */
  margin: 3px;
  font-size: 20px;
}

.container {
  padding: 10px;
  color: white;
  margin: auto;
  max-width: 1000px;
  text-align: center;
}

.leaderboarddiv {
  display: inline-block;
  float: left;
  padding: 10px 20px;
  /* border: solid 1px red; */
  margin: 10px 10px 10px 50px;
}

.arrowkeys {
  width: 20%;
  height: 20%;
}
